body 
{
    color: rgb(47, 18, 151); 
    text-align: center;
     font-family: Courier;
     margin: 0%;
     padding: 0%;
}
#Container
{
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid blueviolet;
    margin: 0% auto;
}
#Container h1
{
    font-size: 25px;
}